<main class="main">
  <nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Angular simple crud</a>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="list-group">
          <li
            *ngFor="let employee of employeeArray"
            class="list-group-item list-group-item-action"
          >
            {{ employee.name }}
          </li>
        </ul>
        <div class="card mt-4">
          <div class="card-body">
            <div class="card-title">Ingrese un Empleado nuevo</div>
            <div class="form-group">
              <input type="text" name="" id="" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <img
          class="w-50"
          src="../assets/Angular_full_color_logo.svg.png"
          alt="Imagen no encontrada"
        />
      </div>
    </div>
  </div>
</main>
<router-outlet />
